1er/EJ3MinecraftDTD/Minecraft.dtd

<!ELEMENT minecraftItems (item+)>
<!ELEMENT item (name, type, rarity, damage, description)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT rarity (#PCDATA)>
<!ELEMENT damage (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST item id ID #REQUIRED>
<!ATTLIST minecraftItems lang (es|en) #REQUIRED>