1er/EJ3MinecraftDTD/Minecraft.dtd

<!ELEMENT minecraftItems (item+)>
<!ATTLIST minecraftItems lang (es|en) #REQUIRED>

<!ELEMENT item (name, type, damage?, description)>
<!ATTLIST   item 
            id ID #REQUIRED
            rarity (Comun | Raro | Epico ) #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT damage (#PCDATA)>
<!ELEMENT description (#PCDATA)>
